---
title: Hazelcast Jet for PCF (Beta)
owner: Partners
---
<p class="note warning">
<strong>WARNING! </strong>
The Hazelcast Jet for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes how to install, configure, and use Hazelcast Jet for Pivotal Cloud Foundry (PCF).
Hazelcast Jet for PCF registers a service broker on PCF and exposes its service plans on the Marketplace.
Developers can provision Hazelcast Jet clusters by creating instances of the service plans using the Cloud Foundry Command Line Interface (cf CLI) tool.

## <a id='overview'></a>Overview

Hazelcast Jet for PCF uses an on-demand services SDK, which is a part of [Pivotal Cloud Services SDK](https://network.pivotal.io/products/on-demand-services-sdk),
to fully utilize BOSH-2.0 features and let you provision instances more flexibly.

Features of Hazelcast Jet for PCF include the following:

* Based on [Hazelcast Enterprise](https://hazelcast.com/), the leading in-memory data grid (IMDG)
* The ability to dynamically pass your Hazelcast Jet configuration in JSON format when creating services
* An on-demand service broker that dynamically creates and scales Hazelcast Jet clusters without pre-provisioning blocks of VMs

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Hazelcast Jet for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.3.1.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>May 22, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.3.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>

## <a id="limitations"></a>Limitations

If you change `managementCenterConfig` in your JSON configuration file, all VMs shut down at the same time. 
This means that you lose all cluster data unless you are persisting that data elsewhere.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Hazelcast Jet User Group](mailto:hazelcast-jet@googlegroups.com), the
[Hazelcast Jet GitHub repo](https://github.com/hazelcast/hazelcast-jet), or by sending an email to [Hazelcast Support](mailto:support@hazelcast.com).

## <a id='license'></a>License

Hazelcast Jet for PCF needs an active Hazelcast Enterprise License. 
You can request a trial license from [hazelcast.com](https://hazelcast.com/hazelcast-enterprise-download/trial/)
or by contacting [sales@hazelcast.com](mailto:sales@hazelcast.com).

